/*############################# BODY ##################################*/
Body{
    /* border: 0.5rem double royalblue; */
    background-color: hsla(120, 50%, 50%);

    margin: 0.5rem;
    padding: 0.5rem;
}


    /***************************** HEADER ***********************************/
    header {
        border: 0.5em double hsl(300, 100%, 50%);
        background-color: hsla(240, 50%, 50%);

    }

    header h1{
        font-family: 'Rancho', serif;
        font-style: italic;
        font-size: 5em;
        text-align:center;
        text-shadow: grey 0.10em 0.10em 0.10em;
    }

    /***************************** NAV ***********************************/
    nav {
        display:flex;
        border: 0.5em double hsl(300, 100%, 50%);
        background-color: hsla(240, 50%, 50%);
        align-items: first baseline;
    }

    nav ul {
        display:flex;
        list-style-type: none;
    }
    
    nav ul li{
        margin-right:1em;
        font-size: 1.25em;
        color: white;
        text-shadow: black 0.10em 0.10em 0.10em;

    }

    nav form{
        margin-right: 2em;
        margin-left: auto;
    }

    /**************************** CONTENEDOR *********************************/

    .ContenedorMainAsides {
        display:flex;
    }


        /******************************* MAIN ************************************/
        main{
            font-family:cursive;
            border: 0.5em double hsl(300, 100%, 50%);
            border: 0.1em solid darkblue;
            background-color: hsl(0, 0%, 100%);
            padding:1em;
            width: 80%;
        }

        main h1{
            text-shadow: grey 0.10em 0.10em 0.10em;
            color:blueviolet;
            color:black;
            text-align:center;
        }

        main h2{
            text-shadow: grey 0.10em 0.10em 0.10em;
            text-align:left;
        }


        main p{
            text-align:justify;
        }

        main p::first-line{
            /* color:yellow; */
        }

        main ul{
            font-family: 'Tangerine', serif;
            font-size: 2rem;
        }

        main img{
            border-style: double;
            width: 50%;
            height: 400px;
        }

        main #ContenedorImagenesPerros{
            display: flex;
            background-color:hsl(60, 100%, 50%);
        }

        main .ContenedorVideos{
            border-style: double;
            display:flex;
            height:300px;
        }

        main .ContenedorVideos iframe,
        main .ContenedorVideos video{
            border-style: double;
            width: 50%;
        }
   
        /***************************** ASIDE ***********************************/
        aside {
            border: 0.5em double hsl(300, 100%, 50%);
            background-color: hsla(240, 50%, 50%);
            width: 20%;
            padding:1em;

            font-family:cursive;
            color:white;

        }
        aside h2{
            text-shadow: black 0.10em 0.10em 0.10em;
        }
    
    /***************************** FOOTER ***********************************/

    footer{
        border: 0.5em double hsl(300, 100%, 50%);
        background-color: hsla(240, 50%, 50%);
        padding:1em;
        color: white;

    }

    footer a:hover {
        font-family: 'Tangerine', serif;
        color: greenyellow;
    }

    /***************************** ESPECIFICOS *******************************/
    header,
    nav,
    aside,
    footer{
        border: 0.1em solid darkblue;
        border-radius: 0.33em;

        background-image: linear-gradient(to right bottom, #0007ff, #0021fe, #002ffd, #083afc, #1544fa, #2b4dfa, #3a56f9, #465ef8, #5869f9, #6874f9, #767ffa, #838afa);
        background-image: linear-gradient(to right bottom, #060a90, #051091, #041491, #031892, #031c92, #18269b, #2630a3, #313aac, #474dbf, #5c61d3, #6f75e6, #838afa);
    }