/*############################# BODY ##################################*/
Body{
    border: 1rem double royalblue;
    background-color: hsla(120, 50%, 50%);

    margin: 1rem;
    padding: 1rem;
}


    /***************************** HEADER ***********************************/
    header {
        background-color: hsla(240, 50%, 50%);
        border: 0.5em groove red;
        border: 0.5em double hsl(300, 100%, 50%);

    }

    header h1{
        
        font-family: 'Rancho', serif;
        font-style: italic;
        font-size: 5em;

        text-align:center;
        text-shadow: grey 0.10em 0.10em 0.10em;
    }

    /***************************** NAV ***********************************/
    nav {
        display:flex;
        border: 0.5em double hsl(300, 100%, 50%);
        background-color: hsla(240, 50%, 50%);
        align-items: first baseline;
       
    }

    nav ul {
        display:flex;
        border: 0.1em groove green;
        list-style-type: none;
    }
    
    nav ul li{
        margin-right:1em;
    }

    nav form{
        border: 0.1em groove green;
        margin-right: 2em;
        margin-left: auto;
    }

    /**************************** CONTENEDOR *********************************/

    .ContenedorMainAsides {
        display:flex;
    }


        /******************************* MAIN ************************************/
        main{
            font-family:cursive;
            border: 0.5em double hsl(300, 100%, 50%);
            background-color: rgb(191, 64, 121);
            background-color: hsl(275, 50%, 50%);
            background-color: hsl(155, 50%, 50%);
            background-color: hsl(0, 0%, 100%);
            padding:1em;
            width: 80%;
        }

        main h1{
            text-shadow: grey 0.10em 0.10em 0.10em;
            color:blueviolet;
            color:black;
            text-align:center;
        }

        main h2{
            /* color:hsl(260, 100%, 50%); */
            text-shadow: grey 0.10em 0.10em 0.10em;
            text-align:left;
        }


        main p{
        
            /* width: 100%; */
            /* border-style: double; */
            /*color: blueviolet;*/
            /*width: 80%;*/
            text-align:justify;
        }

        main p::first-line {
            /* color:yellow; */
        }

        main ul{
            font-family: 'Tangerine', serif;
            font-size: 2rem;
        }

        main img{
            /*display: block;
            margin: 0 auto;*/
            border-style: double;
            width: 50%;
            height: 400px;
        }

        main #ContenedorImagenesPerros{
            display: flex;
            background-color:hsl(60, 100%, 50%);
            /*Width: 800px;*/
            /*margin: 0 auto;*/
        }

        main .ContenedorVideos{
            border-style: double;
            display:flex;
            height:300px;
        }

        main .ContenedorVideos iframe,
        main .ContenedorVideos video{
            border-style: double;
            width: 50%;
        }
   
        /***************************** ASIDE ***********************************/
        aside {
            font-family:cursive;
            border: 0.5em double hsl(300, 100%, 50%);
            background-color: hsla(240, 50%, 50%);
            width: 20%;
        }
    
    
    /***************************** FOOTER ***********************************/

    footer{
        background-color: hsla(240, 50%, 50%);
        border-style: double;
        border: 0.5em double hsl(300, 100%, 50%);
    }

    footer a:hover {
        font-family: 'Tangerine', serif;
        color: greenyellow;
    }

    /***************************** ESPECIFICOS *******************************/
